@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: $font-main;
  color: $color-primary;
  letter-spacing: $spacing-medium;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.76;
  letter-spacing: $spacing-medium;
  // background-image: url(../images/products/background.png);
  // background-size: cover;
  // background-position: center;
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  // @media (min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: url(../images/products/background-2x.png);
  // }

  @include tablet {
    font-size: 14px;
  }
  @include desktop {
    font-size: 16px;
  }
}
