// * {
//   cursor: url('../images/cursor.png'), auto;
//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     cursor: url('../images/cursor@2x.png'), auto;
//   }
// }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: url(/src/images/cursor.png), auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
