.advantages {
    background-color: $bgr-color-main;
    padding-bottom: 36px;
    @include tablet {
        padding-bottom: 40px;
    }
    @include desktop {
        padding-bottom: 86px;
    }

}

.advantages__list__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;
}


.advantages__list {
    
  
    &__item {
        padding: 0 auto;
          width: 100%;
         
          @include tablet {
            
            flex-wrap: nowrap;
            width: calc((100% - 160px)/3);
            margin-bottom: 0;
            gap: 80px;
            
            }
           
            @include desktop {
            gap: 32px;
                
                }
     
    }

    &__img {
    
        width: 50px;
          height: 50px;
          background: $color-accent;
        display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
         border-radius: 25px;
         @include tablet {
            margin-bottom: 32px;
            }
            @include desktop {
                margin-bottom: 40px;
                }
    }

    &__icon {
        fill: $color-primary;
        display: block;
        background-position: center;
    }

    &__title {
        @include font(700,36px,1.7,$spacing-medium);
    text-align: center;
    text-transform: uppercase;
    color: $text-color;
    margin-bottom: 18px;
    @include tablet {
        @include font(700,48px,1.2,$spacing-medium);
    }
    @include desktop {
        @include font(700,58px,1.2,$spacing-medium);
    }
    
    }

    &__text {
        font-family: $font-main;
    
        @include font(700,12px,1.7,$spacing-small);
    text-align: center;
    margin: 0 auto;
    color: $text-color;
    @include tablet {
        @include font(400,14px,1.74,$spacing-small);
    }
    @include desktop {
        @include font(400,16px,1.76,$spacing-small);
    }
    }

   
   
}








