
.reviews-container{

        margin-left: auto;
        margin-right: auto;
}
.section-reviews {
  background-image: url(/src/images/products/background.png);

  background-color: #fff;
 
  padding-bottom: 390px;

  @media screen and(max-width:480px) {
    padding-top: 200px;
  }
  padding-top: 281px;
  @include tablet {
    padding-top: 317px;
    padding-bottom: 350px;
  }

  @include desktop {
    padding-top: 540px;
    padding-bottom: 180px;
  }
}

.reviews-title {
  margin-top: 30px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  
  text-align: center;

        font-weight: 500;
        font-size: 20px;
        line-height: 1.86;
        text-align: center;
    
        color: #131313;
        @include tablet{
            font-size: 16px;
        }
}
.reviews-text{
    @media screen and( max-width: 480px){
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }
max-width: 280px;
margin-left: auto;
margin-right: auto;
        
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 39px;
    padding-right: 39px;

        font-weight: 400;
        font-size: 12px;
        line-height: 2.55;
        text-align: center;
        color: #FCFCFC;
        background: #84A178;
        border-radius: 10px;

        @include tablet{
        max-width: 705px;
        padding-left: 80px;
        padding-right: 80px;
        margin-right: auto;
        margin-left: auto;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.04em;
        text-align: center;
        }

        @include desktop{
        max-width: 968px;
        padding-left: 109px;
        padding-right: 109px;
        margin-right: auto;
        margin-left: auto;
        }
   
}
.reviews-images{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 28px;
   border-radius: 50%;
  color: #131313;
  @include tablet {
    font-size: 16px;
  }
}
.reviews-text {
  height: 240px;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 39px;
  padding-right: 39px;

  font-weight: 400;
  font-size: 12px;
  line-height: 2.55;

  text-align: center;
  color: #fcfcfc;
  background: #84a178;
  border-radius: 10px;

  @include tablet {
    height: 140px;
    max-width: 705px;
    padding-left: 80px;
    padding-right: 80px;
    margin-right: auto;
    margin-left: auto;
  }

  @include desktop {
    height: 125px;
    max-width: 968px;
    padding-left: 109px;
    padding-right: 109px;
  }
}
.reviews-images {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  border-radius: 50%;
}

.reviews-button {
  background: #d9d9d9;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-top: 32px;
  margin-right: 18px;
}

.comment__choise{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 14px;

    @include tablet {
            margin-top: 32px;
        }
    
    @include desktop {
            margin-top: 32px;
        }
}
.comment__choise li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.comment__choise li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: url("/src/images/cursor.png"),
    auto;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.section-button {
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.comment__choise li:before {
    content: '';
    line-height: 20px;
    position: absolute;
    cursor: url("/src/images/cursor.png"), auto;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #D9D9D9;


}

.comment__choise li:hover::before {
    background-color: #84A178;
}

 .comment__choise li:active::before {
    background-color: #84A178;
}

