//txt fonts
$font-main: 'Montserrat', sans-serif;
$font-second: 'Seymour One', sans-serif;
$font-mob-advant: 'Roboto', sans-serif;

//colors
$color-primary: #131313;
$text-color: #fcfcfc;
$color-accent: #f8d24e;
$btn-color-disabled: #ababab;
$btn-color-hover: #0a8817;
$bgr-color-main: #84a178;
$text-color-extra: #d6936d;

//letter spasing
$spacing-small: 0.02em;
$spacing-medium: 0.04em;
$spacing-big: 0.06em;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$trans-duration: 250ms;
