<section class="about">
    <div class="container">
    <p class="about__pre-title">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
 <div class="about-field">
    <div class="img-wrap">
        <div class="img-wrap__cow"></div>
    </div>
    <div class="about-field-two">
    <div class="about-text-wrap">
         <p class="about-text-wrap__text about-text-wrap__one">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and
            we follow it when creating our handmade desserts.</p>
         <p class="about-text-wrap__text about-text-wrap__two">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children
            from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
         <p class="about-text-wrap__text about-text-wrap__three">This is enough to choose ice cream and
            coffee for any mood!</p>    
        </div>   
        <div class="about-btn-wrap">
            <button type="button" class="about-btn">Read more
                <svg class="about-btn__icon" width="12" height="12">
                    <use href="/src/images/icon.svg#"></use>     
                </svg>
            </button>
            </div>
        </div>
    </div>
    </div>
</section>