<div class="contact-modal modal" data-modal="5">
  <button type="button" class="contact-modal__btn-close js-modal-close">
    <svg class="about-modal__icon" width="20" height="20">
      <use href="/src/images/icon.svg#icon-menu_close"></use>
    </svg>
  </button>
  <p class="contact-modal__title">Our Locations</p>
  <picture>
    <source
      srcset="
        ./images/contact-modal/map-1x.webp 1x,
        ./images/contact-modal/map-2x.webp 2ч
      "
      media="(min-width:768px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/contact-modal/map-1x.jpg 1x,
        ./images/contact-modal/map-2x.jpg 2x
      "
      media="(min-width:768px)"
    />

    <source
      srcset="
        ./images/contact-modal/map-mob-1x.jpg 1x,
        ./images/contact-modal/map-mob-2x.jpg 2x
      "
      media="(min-width:480px)"
    />
    <img
      class="contact-modal__img"
      src="./images/contact-modal/map-mob-1x.jpg "
      alt="map"
    />
  </picture>

  <a
    href="https://goo.gl/maps/qvXxVnN7LqY2DfTUA"
    target="blank"
    rel="noopener noreferrer nofollow"
    class="contacts-adress__link"
    ><button type="button" class="contact-modal__button">Open map</button>
  </a>
</div>
