<section class="contacts section" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contact Information</h2>
    <address class="contact__address">
      <ul class="contacts__list">
        <li class="contacts__item">
          <div class="contacts-address">
            <p class="contacts-address__text">CAFE</p>
            <p class="contacts-address__city">Chicago</p>
            <a
              href="https://goo.gl/maps/qvXxVnN7LqY2DfTUA"
              target="blank"
              rel="noopener noreferrer nofollow"
              class="contacts-adress__link"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
            </a>
          </div>
          <ul class="contacts-time">
            <li class="contacts-tims__item">
              <p class="contacts-time__days">Monday - Friday</p>
              <p class="contacts-time__clock">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-time__item">
              <p class="contacts-time__days">Saturday - Sunday</p>
              <p class="contacts-time__clock">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts-information">
            <li class="contacts-information__tel">
              <a href="tel:+61(0)383766284" class="contacts-information__link">
                +61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-information__mail">
              <a
                href="mailto:noreply@envato.com"
                class="contacts-information__link"
              >
                noreply@envato.com
              </a>
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <div class="contacts-address">
            <p class="contacts-address__tex">FOODTRUCK</p>
            <p class="contacts-address__city">Los Angeles</p>
            <a
              href="https://goo.gl/maps/qvXxVnN7LqY2DfTUA"
              target="blank"
              rel="noopener noreferrer nofollow"
              class="contacts-adress__link"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
            </a>
          </div>
          <ul class="contacts-time">
            <li class="contacts-tims__item">
              <p class="contacts-time__days">Monday - Friday</p>
              <p class="contacts-time__clock">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-time__item">
              <p class="contacts-time__days">Saturday - Sunday</p>
              <p class="contacts-time__clock">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts-information">
            <li class="contacts-information__tel">
              <a href="tel:+61(0)383766284" class="contacts-information__link">
                +61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-information__mail">
              <a
                href="mailto:noreply@envato.com"
                class="contacts-information__link"
              >
                noreply@envato.com
              </a>
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <div class="contacts-address">
            <p class="contacts-address__text">CAFE</p>
            <p class="contacts-address__city">New York</p>
            <a
              href="https://goo.gl/maps/qvXxVnN7LqY2DfTUA"
              target="blank"
              rel="noopener noreferrer nofollow"
              class="contacts-adress__link"
              >726 Sterling Pl, Brooklyn, NY 11222, USA
            </a>
          </div>
          <ul class="contacts-time">
            <li class="contacts-tims__item">
              <p class="contacts-time__days">Monday - Friday</p>
              <p class="contacts-time__clock">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-time__item">
              <p class="contacts-time__days">Saturday - Sunday</p>
              <p class="contacts-time__clock">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts-information">
            <li class="contacts-information__tel">
              <a href="tel:+61(0)383766284" class="contacts-information__link">
                +61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-information__mail">
              <a
                href="mailto:noreply@envato.com"
                class="contacts-information__link"
              >
                noreply@envato.com
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </address>
    <ul class="contacts-buttons">
      <li class="contacts-buttons__item">
        <button
          type="submit"
          class="contacts__btn js-open-modal"
          data-modal="5"
        >
          Our Locations
          <svg class="contacts__icon" width="12" height="12">
            <use href="/src/images/icon.svg#icon-vektra"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-buttons__item">
        <button
          type="submit"
          class="contacts__btn but js-open-modal"
          data-modal="6"
        >
          Franchise
          <svg class="contacts__icon" width="12" height="12">
            <use href="/src/images/icon.svg#icon-vektra"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
