<div class="contact-modal-two modal" data-modal="6">
  <button type="button" class="contact-modal__btn-close js-modal-close">
    <svg class="about-modal__icon" width="20" height="20">
      <use href="/src/images/icon.svg#icon-menu_close"></use>
    </svg>
  </button>
  <h2 class="contact-modal-two__title">
    Thank you for your interest in owning an Ice Cream shop
  </h2>
  <p class="contact-modal-two__text">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>
  <form class="modal-form">
    <div class="contact-input">
      <input
        type="text"
        class="contact-modal-two__input"
        name="user-name"
        pattern="[a-zA-Zа-яА-ЯіІїЇєЄ]*"
        title="Name (any letter in any case)"
        placeholder="Name"
        required
      />
      <input
        type="tel"
        class="contact-modal-two__input"
        name="user-tel"
        pattern="\+[0-9]{12}"
        title="Phone (+380123456789)"
        minlength="13"
        placeholder="Phone"
        required
      />
      <input
        type="email"
        class="contact-modal-two__input"
        name="user-email"
        title="Email (exsample@dog.com)"
        placeholder="Email"
        required
      />
      <textarea
        name="user-coment"
        id="user-coment"
        class="contact-modal-two__textarea"
        placeholder="Comment"
      ></textarea>
    </div>
    <button type="submit" class="contact-modal__submit">Submit</button>
  </form>
</div>
