<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <div class="footer__text-container">
                <p class="footer__text">
                    <span>homemade ice cream</span> <span>made</span>
                </p>
                <p class="footer__text-part-two">
                    <span>with&nbsp;</span><span>passion</span>
                </p>
            </div>
            <div class="footer__social-container">
                <ul class="footer__social-item">
                    <li class="footer__social-list list">
                        <a class="footer__social-link" href="https://github.com/" target="_blank">
                            <svg class="footer__social-icon" width="19" height="19">
                                <use href="./images/icon.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-list list">
                        <a class="footer__social-link" href="https://telegram.org/" target="_blank">
                            <svg class="footer__social-icon" width="19" height="15">
                                <use href="./images/icon.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-list list">
                        <a class="footer__social-link" href="https://www.facebook.com" target="_blank">
                            <svg class="footer__social-icon" width="9" height="19">
                                <use href="./images/icon.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer__tel-text">
                    Feel free to contact<a class="footer__tel-number link" href="tel:+610383766284">
                        +61 (0) 383 766 284</a>
                </p>
            </div>
        </div>
        <div class="footer__info-line">
            <p class="footer__info-text">
                <span>&#169; <time datetime="2022">2022</time> - IceCream.&nbsp;</span><span>All Rights Reserved.</span>
            </p>
        </div>
    </div>
</footer>