<section class="section products">
  <container class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title title-section">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__sub-title">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <div class="arrow"></div>
      </li>
      <li class="products__item">
        <h3 class="products__sub-title">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button type="button">x</button>
      </li>
      <li class="products__item">
        <h3 class="products__sub-title">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button type="button">x</button>
      </li>
    </ul>
  </container>
</section>
