<section class="section products" id="products">
  <div class="container products__container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title title-section">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--green">
        <div class="products__wrap">
          <h3 class="products__sub-title">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button
          type="button"
          class="button products__btn--open js-open-modal"
          data-modal="4"
        >
          <svg class="products__icon" width="40" height="20">
            <use href="/src/images/icon.svg#icon-arrow-d"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--yellow">
        <div class="products__wrap">
          <h3 class="products__sub-title">ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button
          type="button"
          class="button products__btn--open js-open-modal"
          data-modal="4"
        >
          <svg class="products__icon" width="40" height="20">
            <use href="/src/images/icon.svg#icon-arrow-d"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--brown">
        <div class="products__wrap">
          <h3 class="products__sub-title">milkshakes</h3>
          <p class="products__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button
          type="button"
          class="button products__btn--open js-open-modal"
          data-modal="4"
        >
          <svg class="products__icon" width="40" height="20">
            <use href="/src/images/icon.svg#icon-arrow-d"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>

<!-- Menu-Modal-4 -->
<div class="products-modal__wrap modal" data-modal="4">
  <button type="button" class="button products__btn--close js-modal-close">
    <svg width="20" height="20" class="icon-menu_close">
      <use href="/src/images/icon.svg#icon-menu_close"></use>
    </svg>
  </button>
  <p class="products-modal__title title-section">Chololate icecream</p>
  <div class="product__wrap">
    <div class="product__img"></div>
  </div>
  <ul class="features__list">
    <li class="features__item">
      <p class="features__value">320</p>
      <p class="features__text--property">kcal</p>
    </li>
    <li class="features__item">
      <p class="features__value">4g</p>
      <p class="features__text--property">Prote...</p>
    </li>
    <li class="features__item">
      <p class="features__value">8,2g</p>
      <p class="features__text--property">Fats</p>
    </li>
    <li class="features__item">
      <p class="features__value">40,4g</p>
      <p class="features__text--property">Carbs</p>
    </li>
  </ul>
  <div class="description__wrap">
    <p class="description__text">Ingredients</p>
    <ul class="description__list">
      <li class="description__item">
        <p class="description__property">Milk</p>
        <p class="description__value">100ml</p>
      </li>
      <li class="description__item">
        <p class="description__property">Belgian chocolate</p>
        <p class="description__value">20g</p>
      </li>
      <li class="description__item">
        <p class="description__property">Cream</p>
        <p class="description__value">150 ml</p>
      </li>
      <li class="description__item">
        <p class="description__property">Cocoa powder</p>
        <p class="description__value">30g</p>
      </li>
      <li class="description__item">
        <p class="description__property">Sugar</p>
        <p class="description__value">40g</p>
      </li>
      <li class="description__item">
        <p class="description__property">Vanilla sugar</p>
        <p class="description__value">10g</p>
      </li>
    </ul>
  </div>
  <form class="form__modal">
    <div class="products-form__wrap">
      <input
        type="text"
        name="name"
        class="products-form__input"
        pattern="[a-zA-Zа-яА-ЯіІїЇєЄ]*"
        title="Name (any letter in any case)"
        placeholder="Name"
        required
      />
    </div>
    <div class="products-form__wrap">
      <input
        type="tel"
        name="tel"
        pattern="\+[0-9]{12}"
        title="Phone (+380123456789)"
        minlength="13"
        class="products-form__input"
        placeholder="Phone"
        required
      />
    </div>
    <div class="products-form__wrap">
      <textarea
        name="Comment"
        class="products-form__textarea"
        placeholder="Comment"
      ></textarea>
    </div>
    <button type="submit" class="button products-form__btn--send">
      Submit
    </button>
  </form>
</div>
