
<section class="section-reviews">
 
  <h2 class="visually-hidden">reviews</h2>
  <div class="reviews-container container">
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-images"
          srcset="
            /src/images/reviews/reviews-emily1x.jpg 1x,
            /src/images/reviews/reviews-emily2x.jpg 2x
          "
          src="/src/images/reviews/reviews-emily1x.jpg"
          alt="emily-photo"
          width="85"
        />
        <p class="reviews-text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <h3 class="reviews-title">Emily, Los Angeles</h3>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-images"
          srcset="
            /src/images/reviews/reviews-sam1x.jpg 1x,
            /src/images/reviews/reviews-sam2x.jpg 2x
          "
          src="/src/images/reviews/reviews-sam1x.jpg"
          alt="emily-photo"
          width="85"
        />
        <p class="reviews-text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
        <h3 class="reviews-title">Sam, Los Angeles</h3>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-images"
          srcset="
            /src/images/reviews/reviews-diana1x.jpg 1x,
            /src/images/reviews/reviews-diana2x.jpg 2x
          "
          src="/src/images/reviews/reviews-diana1x.jpg"
          alt="emily-photo"
          width="85"
        />
        <p class="reviews-text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <h3 class="reviews-title">Diana, Chicago</h3>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-images"
          srcset="
            /src/images/reviews/reviews-bryan1x.jpg 1x,
            /src/images/reviews/reviews-bryan2x.jpg 2x
          "
          src="/src/images/reviews/reviews-bryan1x.jpg"
          alt="emily-photo"
          width="85"
        />
        <p class="reviews-text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <h3 class="reviews-title">Bryan, New-York</h3>
      </li>
      </div>
    
</section>


