button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  background-color: transparent;
  font-style: normal;
  border-radius: 10px;

  @include font(600, 14px, 1.25, null);
  @include flex(flex, center, center);
}
