button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  background-color: transparent;
  font-style: normal;
  border-radius: 10px;
  cursor: url(/src/images/cursor.png), auto;
  @include font(600, 14px, 1.25, null);
  @include flex(flex, center, center);
  transition: background-color $trans-duration $timing-function;
}
