.contact-modal.modal {
  width: 280px;
  height: 365px;
  padding: 28px;
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  overflow: auto;
  @include tablet {
    width: 568px;
    height: 458px;
    padding: 32px 60px;
  }
}
.contact-modal {
  &__btn-close {
    display: block;
    position: absolute;
    top: 11px;
    right: 11px;
    @include tablet {
      top: 24px;
      right: 24px;
    }
  }

  &__title {
    display: block;
    font-family: $font-second;
    @include font(400, 16px, 1.5, $spacing-big);
    color: $color-primary;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 32px;
      @include font(400, 20px, 1.4, $spacing-big);
    }
  }

  &__button {
    background: #f8d24e;
    border-radius: 10px;
    margin: 0 auto;

    width: 134px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-main;
    transition: background-color $trans-duration $timing-function;
    &:hover {
      background-color: $btn-color-hover;
    }
    &:focus {
      background-color: #0a8817;
      color: $text-color;
    }
    &:disabled {
      background-color: #ababab;
    }
    @include font(600, 12px, 1.25, $spacing-small);
    color: $color-primary;
    @include tablet {
      @include font(600, 14px, 1.2, $spacing-medium);
    }
  }

  &__img {
    display: block;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 24px;

    @include mobile {
      width: 224px;
      height: 199px;
    }

    @include tablet {
      width: 448px;
      height: 260px;
      margin-bottom: 32px;
    }
  }
}
