.contact-modal-two.modal {
  width: 280px;
  height: 674px;
  padding: 28px;
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  overflow: auto;
  @include tablet {
    width: 568px;
    height: 668px;
    padding: 32px 60px;
  }
}
.contact-modal-two {
  &__title {
    display: block;
    width: 221px;
    font-family: $font-second;
    @include font(400, 16px, 1.5, $spacing-big);
    color: $color-primary;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      margin-bottom: 24px;
      @include font(400, 20px, 1.4, $spacing-big);
      width: 322px;
    }
  }

  &__text {
    font-family: $font-main;
    @include font(400, 14px, 1.4, $spacing-small);
    color: $color-primary;
    margin-bottom: 24px;
    @include tablet {
      @include font(400, 16px, 1.4, $spacing-medium);
      margin-bottom: 32px;
    }
  }

  &__input {
    width: 100%;
    height: 42px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    margin-bottom: 12px;
    padding-left: 12px;
    @include tablet {
      margin-bottom: 16px;
      padding-left: 16px;
      width: 368px;
    }
  }

  &__textarea {
    width: 100%;
    height: 84px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    resize: none;
    margin-bottom: 24px;
    padding-left: 12px;
    padding-top: 8px;
    @include tablet {
      margin-bottom: 32px;
      padding-left: 16px;
      padding-top: 11px;
      width: 368px;
    }
  }
}
.contact-modal-two__input:not(:focus):not(:placeholder-shown):invalid,
.contact-modal-two__textarea:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(255, 0, 0, 0.7);
}

.contact-modal__submit {
  width: 121px;
  height: 42px;
  background: #f8d24e;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-main;
  transition: background-color $trans-duration $timing-function;
  &:hover {
    background-color: $btn-color-hover;
  }
  &:focus {
    background-color: #0a8817;
    color: $text-color;
  }
  &:disabled {
    background-color: #ababab;
  }
  @include font(600, 12px, 1.25, $spacing-small);
  color: $color-primary;
  @include tablet {
    @include font(600, 14px, 1.2, $spacing-medium);
  }
}

.contact-modal-two__input::placeholder {
  font-family: $font-main;
  @include font(400, 14px, 1.4, $spacing-small);
  color: $color-primary;
}
.contact-input {
  display: block;
  text-align: center;
}
