.menu-modal {
  background-color: $bgr-color-main;
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__open {
    // display: block;
    margin-left: auto;
    padding: 16px 16px 16px;
    @include tablet {
      display: block;
    }
  }
  &__close {
    position: relative;
    fill: #ffffff;
    margin-left: auto;
    padding: 16px 16px 16px;
  }
}
.menu-nav {
  margin-bottom: auto;
  margin-top: 50px;
  &__list {
    margin-top: auto;
  }
  &__item {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.21;

    color: #fcfcfc;
  }
  &__link {
    gap: 32px;
  }
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.button__nav {
  display: flex;
  justify-content: center;
  // background-color: tomato;
}
.buy-now__button {
  background-color: $color-accent;
  width: 152px;
  height: 42px;
  margin-bottom: 62px;
  @include tablet {
    display: none;
  }
}
