// ========== products-modal ==========

.products-modal__wrap.modal {
  width: 280px;

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  overflow: auto;

  padding: 28px 20px 32px 20px;
  @include tablet {
    width: 568px;
    padding: 32px 40px;
  }
}
.products__btn--close {
  position: absolute;
  top: 28px;
  right: 20px;
  cursor: url(/src/images/cursor.png), auto;
  @include tablet {
    top: 20px;
  }
}

.icon-menu_close {
  fill: $color-primary;
  transition: fill 250ms linear;
}

.icon-menu_close:hover,
.icon-menu_close:focus {
  fill: #0a8817;
}

.products-modal__title {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 22px;
  @include tablet {
    margin-bottom: 24px;
  }
}

.product__wrap {
  position: relative;
  width: 132px;
  height: 132px;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 24px;
  box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
}

.product__img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/products/mod-ice.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/mod-ice-2x.jpg);
  }
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 10px;
}
.features__list {
  @include flex(flex, center, center);
  gap: 9px;
  margin-bottom: 39px;
  @include tablet {
    gap: 20px;
    margin-bottom: 48px;
  }
}
.features__item {
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  position: relative;
  @include tablet {
    width: 65px;
    height: 90px;
  }
}
.features__value {
  @include flex(flex, center, center);
  width: 43px;
  height: 43px;
  @include font(500, 10px, 2.8, null);
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  @include tablet {
    width: 53px;
    height: 53px;
    @include font(null, 12px, 2.33, null);
  }
}
.features__text--property {
  @include font(400, 10px, 1.2, null);
  padding-bottom: 8px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  @include tablet {
    @include font(null, 12px, 1.25, null);
    padding-bottom: 14px;
  }
}

.description__wrap {
  margin-bottom: 48px;
}
.description__text {
  @include font(500, 20px, 1.4, null);
  text-align: center;
  margin-bottom: 24px;
}
.description__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.description__item {
  display: flex;
  justify-content: space-between;
}
.description__property,
.description__value {
  font-size: 14px;
}

.products-form__wrap {
  position: relative;
  margin-bottom: 16px;
  @include tablet {
    width: 368px;
    margin-left: auto;
    margin-right: auto;
  }
}
.products-form__input {
  width: 240px;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  padding: 11px 10px;
  @include tablet {
    width: 368px;
    padding: 11px 16px;
  }
}

.products-form__textarea {
  width: 240px;
  height: 84px;
  padding: 11px 10px;
  margin-bottom: 32px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  resize: none;
  @include tablet {
    width: 368px;
    padding: 11px 16px;
  }
}

.products-form__input:not(:focus):not(:placeholder-shown):invalid,
.products-form__textarea:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(255, 0, 0, 0.7);
}

.products-form__btn--send {
  width: 132px;
  height: 42px;
  padding: 12px 34px;
  background: #f8d24e;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: url(/src/images/cursor.png), auto;
  @include tablet {
    width: 121px;
  }

  &:hover {
    background: #0a8817;
  }
  &:focus {
    color: #fcfcfc;
    background: #0a8817;
  }
}
