.title-section {
  font-family: $font-second;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;

  @include tablet {
    font-size: 34px;
    line-height: 1.26;
  }

  @include desktop {
    font-size: 36px;
    line-height: 1.25;
  }
}
